body {
  padding: 0px;
  margin: 0px;
}

.body_content {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  display: grid;
  grid-column: auto;
  justify-content: center;
  align-content: center;
}

.main_container {
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  display: inline-grid;
  grid-template-columns: 50% 50%;
}
.column {
  position: relative;
  display: grid;
  align-content: center;
}

#main_image {
  position: absolute;
  left: -60px;
  width: 400px;
  align-self: center;
  z-index: 2;
}

#box_image {
  width: 130px;
  /* align-self: center; */
  position: absolute;
  top: 45%;
  left: -55px;
  z-index: 3;
}

#pattern_image {
  position: absolute;
  left: -60px;
  bottom: 0px;
  width: 400px;
  z-index: 1;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}